

/* #region for all moved*/
.hidden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

body:has(.backdrop.is-open) {
    overflow-y: hidden;
}

button {
    cursor: pointer;
    padding: 0;
    border: 1px solid transparent;
    /* background-color: none; */
    background-color: transparent;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,textarea{
    outline: none;
}

.section {
    padding: 120px 0;
}

/* section {
    padding: 120px 0;
} */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* #endregion */

/* #region reset*/

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* address{
    font-style: normal;
} */



/* #endregion */ */

/* #region common */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}
/* #endregion  */

/* #region header */
.page-header {
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid #e7e9fc;
    
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-left: auto;
    margin-right: auto;

}

.nav-list,
.contacts{
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo{
    padding: 16px 0;
    display: block;
}
.header-logo .logo-part {
    color: #2e2f42;
}

.header-buttom{
    padding:0;
    border: none;
    background-color: transparent;
}

.icon-header-menu{
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .header-buttom {
        display: none;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }
    
    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }
    
    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
        }

    .nav-link {
        padding: 24px 0;
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .nav-link.current {
        position: relative;
    }
    
    .nav-link.current::after {
        content: '';
    
        position: absolute;
        left: 0px;
        bottom: -1px;
    
        width: 100%;
        height: 4px;
    
        border-radius: 2px;
        background-color: #404bbf;
    }
        
    .contacts {
        font-style: normal;
        display: block;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contacts-link {
        display: block;
        /* padding: 24px 0; */
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link:focus,
    .nav-link:hover,
    .contacts-link:focus,
    .contacts-link:hover,
    .nav-link.current {
        color: #404bbf;
    }
    
}


@media screen and (min-width:1158px) {
    .header-logo {
        margin-right: 76px;
        }

    .contacts-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .contacts-link {
        /* display: block; */
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        /* color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
    }
}
/* #endregion */

/* #region mobile menu*/
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 16px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility:hidden;
    pointer-events: none;
}

.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

}

/* .container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;

} */

.mobile-menu-container {
    position: relative;
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.btnmobile-menu-close {
   display: flex;
   justify-content: center;
   align-items: center; 
   position: absolute;  
   top:24px;
   right: 24px;
   width: 24px;
   height: 24px;
   border-radius: 100%;
   border: 1px solid rgba(0, 0, 0, 0.1);
   background-color:#e7e9fc ;

   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
   background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ------------- */
.btnmobile-menu-close:hover,
.btnmobile-menu-close:focus{
    fill: #fff ;
    background-color:#404BBF;
}

.btnmobile-menu-close:hover .modal-btn-icon
 {
    fill: #fff ;
    background-color:#404BBF;
 }

 .btnmobile-menu-close:focus .modal-btn-icon{
    fill: #fff ;
    background-color:#404BBF;
 }

.btnmobile-btn-icon{
    color: currentColor;
    stroke-width: 1px; 
    fill: #2e2f42 ;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* -------------- */

.mobile-menu-nav{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    max-width: 151px;
    margin-bottom: auto;
}

.mobil-nav-item:first-child{
    color: #404bbf;
}

.mobil-nav-item{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mobil-nav-item:not(:last-child){
    margin-bottom: 40px;
}

.mb-menu-contacts{
    max-width: 193px;
    margin-bottom:48px;
}

.mb-contacts-list{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
}

.mb-contacts-item{
    font-weight: 500;
    font-size: 20px;

    line-height: 1.2;
    letter-spacing: 0.02em;
    /* color:#708090; */
}

.mb-icon-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
}

.mb-icon-item{
    /* наследуется от icon-list */
    width: 40px;
    height: 40px;
} 

.mb-icon-link{
    display: flex;
    /* наследуется от родителького эл-та .icon-item*/
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color:#4D5AE5;
    border-radius:50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mb-icon-link:hover, 
.mb-icon-link:focus{
    background-color:#404bbf;
}

.mb-icon{
    fill:#F4F4FD;
}


@media screen and (min-width:768px) {
    .mobile-menu {
        display: none;
    }
}

/* #endregion  */

/* #region hero */

.hero {
    /* display: block; */
    padding: 72px 52px;
    background-color: #2e2f42;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 320px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title {
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin-bottom: 72px;
}

.hero-btn{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;

    border: none;
    border-radius: 4px;  
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#fff;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.hero-btn:hover,
.hero-btn:focus{
    background-color: #404bbf;
}

@media screen and (min-width:768px) {
    
    .hero{
        min-width: 768px;
        padding-top: 112px;
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
    }
}

@media screen and (min-width:1158px) {
    .hero{
        min-width: 1158px;
        max-width: 1440px;
        padding: 188px 0;
    }

    .hero.section>.container{
        max-width: 100%;
        max-height: 100%;     
    }

    .hero-title {
        min-width: 496px;
        margin-bottom: 48px;  
    }
}

/* #endregion */

/* #region benefit*/
.benefit-icon{
   display: none;
}

.page-benefit{
    max-width: 320px;
    padding: 96px 16px;
    margin-left: auto;
    margin-right: auto;
}

.benefit-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.benefit-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.benefit-paragraf {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width:768px){
    .page-benefit{
        max-width: 768px;
    }
    .page-benefit.section>.container{
        max-width: 100%;
        max-height: 100%; 
    }

    .benefit-list {       
        flex-direction: row;
        flex-wrap: wrap;
        column-gap:24px;
    }
    .benefit-item {
        width: calc((100% - 24px)/2);
    }
}

@media screen and (min-width:1158px){
    
    .page-benefit{
        max-width: 1158px;
        padding:120px 0;
    }
    
    .benefit-list {
        flex-wrap: nowrap;
        justify-content: center;
        gap: 24px;
    }

    .benefit-item {
        max-width: 264px;
    }

    .benefit-wraper{
        display:flex;
        justify-content: center;
        align-items: center;

        border: 1px solid #8e8f99;
        border-radius: 4px;
        padding: 24px 100px;
        background: #f4f4fd;
        margin-bottom: 8px;
    }

    .benefit-icon{
        display: block;
    }
}

/* #endregion  */

/* #region team */

.page-team {
    padding: 96px 0; 
    background: #f4f4fd;
    margin-left: auto;
    margin-right: auto;
}

.page-team.section>.container{
    padding: 0 16px;
}

.team-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center; 
    color: #2e2f42;
    margin-top: 0;
    margin-bottom: 72px;
}

.team-list {
    display: flex; 
    flex-direction: column;
    /* justify-content:space-between; */
    align-items: center; 
    /* gap: calc((100% - 24px * 3)/4);  */
    gap: 32px;
}

.team-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 32px; */
    /* box model */
    border-radius: 0 0 4px 4px;
    /* padding-block: 0px 32px; */
    padding-inline: 0px;
    max-width: 264px;

    /* styles */
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color:#fff;
}

.team-content{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;

    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    width: 100%; 
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin: 0;
}

.team-prof {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
     margin: 0;
}

.icon-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
}

.icon-item{
    /* наследуется от icon-list */
    width: 40px;
    height: 40px;
} 

.icon-link{
    display: flex;
    /* наследуется от родителького эл-та .icon-item*/
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color:#4D5AE5;
    border-radius:50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover, 
.icon-link:focus{
    background-color:#404bbf;
}

.icon{
    fill:#F4F4FD;
}

@media screen and (min-width:768px){
    .page-team{
        max-width: 768px;
    }

    .team-list{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center; 
        column-gap: 24px;
        row-gap: 64px;
    }

    .team-item{
        gap: calc((100% - 24px)/2);
    }

}

@media screen and (min-width:1158px){
    .page-team{
        /* min-width: 1158px; */
        max-width: 1440px;
        padding: 120px 0;
        /* margin-left: auto;
        margin-right: auto; */
    }
    .page-team.section>.container{
       min-width: 1158px;
       margin-left: auto;
       margin-right: auto;
    }

    .team-list{
        flex-direction: row;
        flex-wrap: nowrap;
        /* justify-content:center;
        align-items: center;  */
    } 

}
/* #endregion */

/* #region portfolio*/
.portfolio{
    padding: 96px 0;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio.section>.container{
   padding: 0 16px;
}

.portfolio-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-top: 0;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
}

.portfolio-item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

.portfolio-item:not(:last-child){
    margin-bottom: 48px;
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-item:hover .overlay {
    transform: translateY(0);
}

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    width: 100%;
    height: 100%;
    
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;

    background: #4d5ae5;
}

.card-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    width: 100%;
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-top: 0;
    margin-bottom: 8px;
}

.portfolio-direction {
    margin: 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width:768px){
    .portfolio{
        min-width: 768px;
    }
    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;  
        justify-content: center; 
        align-items: center;
        column-gap: 24px;
        row-gap: 72px; 
    
    }
    .portfolio-item {
        max-width: calc((100% - 24px) / 2);
    }
    .portfolio-item:not(:last-child){
        margin-bottom:0;
    }
}

@media screen and (min-width:1158px){
    .portfolio{
        min-width: 1158px;
    }
    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;  
        justify-content: center; 
        align-items: center;
        column-gap: 24px;
        row-gap: 48px; 
    } 

    .portfolio-item {
        max-width: calc((100% - 48px) / 3);
    }
    .portfolio-item:not(:last-child){
        margin-bottom:0;
    }
}

/* #endregion */

/* #region page footer */
.page-footer {
    /* padding: 100px 0; */
    max-width: 320px;
    background: #2e2f42;
    margin-left: auto;
    margin-right: auto;
}

.footer-wraper.container{
    padding: 96px 16px;
}

.footer-text {
    width: 100%;
    /* margin-left: auto;
    margin-right: auto; */
    margin-bottom: 72px;

}

.footer-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0px;
    margin-bottom: 16px;
}

.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-part {
    color: #f4f4fd;
}

.footer-paragraf {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 208px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.footer-social-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin: 0;
    padding-bottom: 16px;
}

.footer-social-list {
    display: flex;
    align-items: flex-start;
    /* justify-content: space-between; */
    flex-direction: row;
    gap: 16px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    display: flex;
    /* наследуется от родителькогоэл-та .icon-item*/
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;

    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus{
    background-color:#31d0aa ;
}

/* footer form */

.footer-form {
    max-width: 320px;
    display: flex;
    flex-direction: column; 
    align-items:center;
}

.footer-form-wraper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 100%;
    gap: 16px;
}

.footer-form-title {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-top: 0;
    margin-bottom: 16px;
}

.footer-form-field {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;

    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding-left: 16px;

    color: #fff;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-field::placeholder{
    color: #fff;
}

.footer-form-field:focus{
    border-color:#31d0aa;

}

.footer-bt-icon{
    fill: #fff;
}

.btn-footer-form {
    display: flex;
    gap:16px;
  
    border-radius: 4px;
    padding: 8px 24px;
    max-width: 169px;
    height: 40px;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;

    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.btn-footer-form:hover,
.btn-footer-form:focus{
   background-color: #31d0aa; 
}

@media screen and (min-width:768px){
    .page-footer {
        min-width: 768px;
        padding-left: 108px;
    }   
    
    .footer-text {
        max-width: 264px;
        margin-right: 24px;
    }

    .footer-wraper.container{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items:baseline;
       
    }

     .footer-nav {
        display: flex;
        justify-content: flex-start;
        gap: 0px;
        margin-bottom: 16px; 
    } 

    .footer-social {
        align-items: flex-start;
        margin-left: 0;
        margin-right: 0;
    }

    .footer-form {
        max-width: 453px;
        align-items: flex-start;
    }

    .footer-form-wraper{
        flex-direction: row;
        gap: 24px;
    }
}   

@media screen and (min-width:1158px){
    .page-footer {
        padding: 100px 0;
        background: #2e2f42;
        max-width: 1440px;   
    }  
    .footer-wraper.container{
        min-width: 1158px;
        padding: 0 16px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-text{ 
        margin-right: 120px; 
        margin-bottom: 0;
    }

    .footer-nav {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 0px;
        margin-bottom: 16px; 
    }

    .footer-social {   
        margin-right: 80px;
        margin-bottom: 0;
    }
  
}

/* #endregion */


/* #region backdrop modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;

    background: rgba(46, 47, 66, 0.4);
    opacity:0;
    visibility: hidden;
    pointer-events: none;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity,visibility;
}

.backdrop.is-open{
    opacity: 1;
    visibility:visible;
    pointer-events:initial;
}

.modal {
    position: absolute;
    padding-top:72px; 
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;

    top:50%;
    left:50%; 
    width: 288px;
    min-height: 640px;
    border-radius: 4px;

    transform: translate(-50%, -50%);
    /* transform:translateX(-204px) translateY(-292px);  */

    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
}

.modal-btn {
   display: flex;
   justify-content: center;
   align-items: center; 
   position: absolute;  
   top:24px;
   right: 24px;
   width: 24px;
   height: 24px;
   border-radius: 100%;
   border: 1px solid rgba(0, 0, 0, 0.1);
   background-color:#e7e9fc ;

   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
   background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus{
    fill: #fff ;
    background-color:#404BBF;
}

.modal-btn:hover .modal-btn-icon
 {
    fill: #fff ;
    background-color:#404BBF;
 }

 .modal-btn:focus .modal-btn-icon{
    fill: #fff ;
    background-color:#404BBF;
 }

.modal-btn-icon{
    color: currentColor;
    stroke-width: 1px; 
    fill: #2e2f42 ;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-header{
    width: 256px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.feedback-label{
    display: block;
    font-weight: 400; 
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom:4px;   
}

.feedback-tel{
    margin-bottom: 8px;
}

.feedback-email{
    margin-bottom: 8px;
}

.feedback-name{
    margin-bottom: 8px;
}

.feedback-field {
    position: relative;
}

.feedback-input {
    border: 1px solid #2e2f4266;
    border-radius: 4px;
    width: 256px;
    height: 40px;
    padding: 8px 0;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-input:focus{
    border-color:#4d5ae5;
}

.feedback-input:focus + .feedback-icon {
    fill:#4D5AE5;
}

.feedback-icon {
   position: absolute; 
   top: 50%;
   left: 16px;
   transform: translateY(-50%); 

   fill:#2E2F42; 
   pointer-events: none;

   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.feedback-texterea {
    margin-bottom: 16px;
}

.feedback-comment{
    resize: none;
    border: 1px solid #2e2f4266;
    border-radius: 4px;
    width: 100%;
    height: 120px;
    
    padding: 12px 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.feedback-comment::placeholder{
    color: #8e8f99;
}

.feedback-comment:focus{
    border-color: #4d5ae5;
}

.feedback-agrement-wraper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback-agrement {  
    display: flex;
    flex-direction: row;
    justify-content:center; 
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 24px;
}

.feedback-toggler {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 16px;
   height: 16px;
   border-radius: 2px;
   border: 1px solid rgba(46, 47, 66, 0.4);

   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
   transition-property: border-color,background-color;
   cursor: pointer;
}

.feedback-checkbox:checked + .feedback-toggler {
    border-color: transparent;
    background-color: #404bbf;
}

.feedback-checkbox:checked + .feedback-toggler > .feedback-toggler-icon {
    opacity: 1;

}

.feedback-toggler-icon { 
    fill: #f4f4fd ;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-link{
    line-height: 1.3;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.btn.modal-form {
    font-weight: 500;
    /* font-size: 16px; */
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;

    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    color: #fff;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    margin-right: auto;
    background-color: #4d5ae5;
    margin-left: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn.modal-form:hover,
.btn.modal-form:focus{
    background-color: #404bbf;
}

@media screen and (min-width:768px) {
    .modal {
        padding-top:112px; 
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 24px;
        width: 408px;
        min-height: 584px;
    }

    .modal-header{
        width: 100%;
    }

    .feedback-input {
        width: 100%;
    }
    
}

@media screen and (min-width:1158px) {
    .modal {
        padding-top:112px; 
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 24px;
        width: 408px;
        min-height: 584px;
    }

    .modal-header{
        width: 100%;
    }

    .feedback-input {
        width: 100%;
    }      
}

/* #endregion */